<%if(!session.user)	{%>
	<h3>Estas en <%= title %></h3>
	Proyecto de CORE
<%}else	{%>
    <p id="pBienvenido"> Bienvenido <%= session.user.username %></p>
	<h3>Estas en <%= title %></h3>
	Proyecto de CORE
<%}%>