body { 
}

#page-wrap:after{
    content: "Smartphone Layout";
}

h2 span, section h3, label.rem{
    display: none;
    text-align: center
}

body{
    font-size: xx-large;
    text-align: center
}

input, button{
    font-size: x-large;
}

footer{
    font-size: large;
}

.quiz_img {
    float: none;
} 

#yo{
}